body {
  background-image: url("./3.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: +330px;
}

.game {
  background-image: url("./4.jpg");
  color: white;
  border-radius: 18px;
  border: 2px solid rgb(255, 255, 255);
  padding: 45px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.opacity {
  opacity: 60%;
}
.game > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: black;
  padding: 8px;
  border-radius: 12px;
}
.offer {
  color: rgb(255, 4, 4) !important;
}
.free {
  color: green;
}
.price {
  margin-bottom: 10px;
}
